.table-action img {
  width: 200px;
  height: 120px;
}

@media screen and (max-width:480px) {
  .table-action img {
    width: 120px;
    height: 80px;
  }
  .table-action thead {
    display: none;
  }  
  .table-action td {
    border: 0;
  }
  .table-action td:not(:first-child) {
    display: block;
    height: 25px;
  }
  .table-action td:last-child {
    height: 42px;
  }
  .table-action td:nth-child(2)::before {
    content: 'Cód. Linha: ';
  }
  .table-action td:nth-child(2)::before {
    content: 'Sentido: ';
  }
  .table-action td:nth-child(3)::before {
    content: 'Cód. tipo de dias: ';
  }
  .table-action td:nth-child(4)::before {
    content: 'Horário: ';
  }
  .table-action td:nth-child(5)::before {
    content: 'Veículo: ';
  }
  .table-action td::before {
    font-weight: bold;
    color: blue;
    display: inline-block;
    width: 70px;
  }
}